v/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Animación al hacer clic en el menú */
}

/* Sección del carrusel */
#inicio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExample {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Otras secciones */
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 0;
}

section:not(:first-of-type) {
    border-radius: 40px 40px 0 0;
}

section#proyecto {
    background-color: #86f574;
}

section#equipo {
    background-color: #f9fff8;
}

/* Contacto reducido */
section#contacto {
    background-color: #1800ff;
    min-height: 50vh; /* Reducir altura de contacto */
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

p {
    max-width: 600px;
    color: #555;
}

/* Menú fijo centrado */
.menu-fijo {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center; /* Alineación vertical centrada */
    justify-content: center; /* Alineación horizontal centrada */
}

.menu-fijo ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaciado entre los elementos */
    margin: 0;
    padding: 0;
}

.menu-fijo ul li {
    display: flex; /* Usar flexbox en los elementos */
    align-items: center; /* Centrar verticalmente las palabras */
    justify-content: center; /* Centrar horizontalmente las palabras */
    padding: 5px 10px;
}

.menu-fijo ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.menu-fijo ul li a:hover {
    background-color: #555;
    color: #fff;
    opacity: 1;
}

/* Equipo */
.equipo-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.equipo-contenedor .texto {
    flex: 1;
    text-align: left;
}

.equipo-contenedor .texto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.equipo-contenedor .texto p {
    color: #666;
    font-size: 0.9em;
}

.equipo-contenedor .imagen {
    flex: 0;
}

.equipo-contenedor .imagen img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Imagen circular */
    object-fit: cover;
}